// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// http://hiltmon.com/blog/2013/05/08/octopress-now-has-footnotes/
.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

