// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// http://hiltmon.com/blog/2013/05/08/octopress-now-has-footnotes/
.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

ul {
    padding-left: 2em;
    padding-right: 2em;
}

.note {
    @include border-radius(0.5em);
    border: 1px solid #528bc5;
    background-color: #F0F5FF;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: 0.7em;
    b { font-weight: bolder; }
}

figure:not(.code) {
    text-align: center;
    >figcaption {
        font-size: 0.7em;
        padding-bottom: 0.5em;
        font-style: italic;
    }
}

section.footnotes {
    font-size: 0.7em;
}

.footnoteRef {
    font-size: 0.8em;
    vertical-align: super;
    padding-left: 0.1em;
}
